 
/*    Styling applied to Login page.*/


/*.loginview .expenfieldcls .x-form-fieldset-inner{
  background:rgba(247, 242, 242, 0.51);
}*/
/* FOnt Styling for fieldset header*/
/*
Styling for list
*/

@font-face {
  font-family: 'Lucida Handwriting';
  src: url('../fonts/LHANDW.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GOTHIC';
  src: url('../fonts/GOTHIC.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Humanist 521';
  src: url('../fonts/hum521n.ttf');
  font-weight: normal;
  font-style: normal;
}

.x-title .x-innerhtml{
  font-family: 'Humanist 521';
  font-size: 0.9em!important;
}

.formPanelCls .x-field{
    border-bottom: 1px solid lightgray
}


/*.addButton .x-button-icon{
background: url('../images/document_add_small.png')no-repeat!important;
background-size: 100%;
background-color: transparent!important;
background-image: none;
}*/

/*.addButton.x-button-plain .x-button-icon.x-icon-mask{
    width:1.7em!important;
    height:1.7em!important;
}*/

/*.backButton{
background: url('../images/backButton_small.png')no-repeat!important;
background-size: 100%;
background-color: transparent!important;
background-image: none;
display:-webkit-box!important
}*/

/*.mainToolbar .x-button{
    padding:0;
    overflow: visible!important;
}*/
