$sheet-bg-color :rgba(0,0,0,0); 
@import 'sencha-touch/default/all';
// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
//@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
//@include sencha-carousel;
@include sencha-form;
//@include sencha-msgbox;

// Your custom code goes here..
@include sencha-loading-spinner;

.x-button-dashboard{
border-radius:0px;
}

/*
    Login screen Styling
*/

.ribbonCls{
    background:url("../images/color-strip.png") center center no-repeat; 
    background-size:100% 100%
}

// Css to make card bacground 

.headerUser {
  width: 100%;
  font-size: 1.3em;
  display: block;
  float: left;
  text-align: center;
  color: white;
  font-family:'Lucida Handwriting';
}

.loginview .x-input-el{
  font-size: 0.8em
}

.loginview .x-button-label{
  font-family: 'GOTHIC';
  font-size: 0.8em;
}

.listbutton.x-button{
  -webkit-border-radius: 0em;
}

.userExpenListView .x-inner.x-list-inner.x-scroll-scroller{
  padding: 0em;
}

//Styling for mask
.x-scroll-container > .x-inner {
  padding: 0em;
}

.maskCls.x-mask .x-mask-inner{
  background: transparent;
  margin-bottom: 100px;

}

.x-mask{
  background: rgba(0,0,0,0.7)!important;
}


.listCls .x-scroll-container {
  background-color: transparent;
}

.listCls .x-inner{
  padding: 0em!important;
}

.userExpenseItem{
  color: #13172C;
  font-family: 'Humanist 521';
  font-size: 1em;
  background-image: -webkit-gradient( 
    linear,
    left bottom,
    left top,
    color-stop(0, #F7F7F7),
    color-stop(0.1, #EDEDED),
    color-stop(1, #F7F7F7) );
}

.userExpenseItem .x-list-item-label{
  border-top: 1px solid white;
  border-bottom: 1px solid #DEDEDE;
}

.userExpenseList .x-list-disclosure{
  background: url("../images/arrow.png") center center no-repeat!important;
  -webkit-mask: 0 !important;
  margin-right:4px;
  width: 0.8em!important;
  height: 0.8em!important;
  background-size:100% 100%!important ;
  bottom: 0.9em;
}

//Styling for Dashboard Buttons
.toolbarButton{
  border-radius: 0em!important;
  background-color: transparent!important;
  background-image: none !important;
  color:#fff;
  z-index: 100!important;
}

// Styling for dashboard
.dashboardPanelCls{
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.15, rgb(189,189,189)),
	color-stop(0.49, rgb(230,223,230)),
	color-stop(0.85, rgb(189,189,189))
);
}

.toolbarButton .x-button-icon{
  width: 3em!important;
  height: 3em!important;
}

.calendarButton .x-button-icon{
  width: 5em!important;
  height: 6em!important;
}

.x-button-dashboard {
border-radius: 0px;
//margin-left: 44%;
border-top-right-radius: 5em;
border-top-left-radius: 5em;
}

.dashboardIconCls{
background-image: url("../images/arrow_up.png")!important;
background-color:transparent!important;
background-size: 100% 100%;
}

.calendarCls{
background-image: url("../images/calendar2.png");
background-size: 100% 100%;
}

.graphCls{
background-image: url("../images/graph.png");
background-size: 100%;
}

.logoutCls{
background-image: url("../images/exit.png");
background-size: 96%;
}

.reportCls{
background-image: url("../images/report.png");
background-size: 100%;
}

.settingsCls{
background-image: url("../images/settings.png");
background-size: 100% 100%;
}

.aboutusCls{
background-image: url("../images/money.png");
background-size: 100% 100%;
}

//Styling for toolbar buttons
.addButton .x-button-icon.addIconCls.x-icon-mask{
background: url('../images/document_add_small.png')no-repeat!important;
background-size: 100%;
background-color: transparent!important;
background-image: none;
}

//class to validate validation on form password change
.validatemsg .x-innerhtml{
color: rgb(255, 255, 255);
font-size: small;
text-align: center;
}

// Styling for active dashboard button

.activeCls{
background-color:#333 !important;
box-shadow: inset 0px 0px 20px 30px rgba(0,0,0, 0.3)!important;
}

.activeCls .settingsCls{
background-image: url("../images/white_settitngs.png");
background-size: 100% 100%;
}

.activeCls .calendarCls{
background-image: url("../images/calendar_white.png");
background-size: 100% 100%;
}

.activeCls .graphCls{
background-image: url("../images/white_bar.png");
background-size: 100%;
}

.activeCls .logoutCls{
background-image: url("../images/exit_white.png");
background-size: 96%;
}

.activeCls .reportCls{
background-image: url("../images/report_white.png");
background-size: 100%;
}

