$base-color:#274581;
$base-gradient:'bevel';
$active-color:#274581;
@import 'sencha-touch/default/all';
$sheet-bg-color :rgba(0,0,0,0); 
// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
//@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
//@include sencha-carousel;
@include sencha-form;
//@include sencha-msgbox;

// Your custom code goes here..

@include sencha-button-ui('login', #274581, 'bevel');
@include sencha-button-ui('dashboard', #347C2C, 'bevel');
//@include sencha-button-ui('login2', #1957AD, 'glossy');

.x-button-dashboard{
border-radius:0px;
}

/*
    Login screen Styling
*/

.loginview{
  background:url("../images/gray_fibers.png") no-repeat;
  background-size:100% 100%;
}

.headerUser {
  width: 100%;
  font-size: 1.3em;
  display: block;
  float: left;
  text-align: center;
  color: white;
  font-family:'Lucida Handwriting';
}

.loginview .x-input-el{
  font-size: 0.8em
}

.loginview .x-button-label{
  font-family: 'GOTHIC';
  font-size: 0.8em;
}

.listbutton.x-button{
  -webkit-border-radius: 0em;
}

.userExpenListView .x-inner.x-list-inner.x-scroll-scroller{
  padding: 0em;
}

//Styling for mask

.x-scroll-container > .x-inner {
  padding: 0em;
}

.maskCls.x-mask .x-mask-inner{
  background: transparent;
  margin-bottom: 100px;

}

.x-mask{
  background: rgba(0,0,0,0.7)!important;
}

//Styling for form

.formPanelStyle{
  background:url("../images/background.png") no-repeat ;
  background-size: 100% 100%;
}

//Styling for List

.listCls .x-body{
  background:url("../images/gray_fibers.png") no-repeat ;
  background-size: 100% 100%;
}

.listCls .x-scroll-container {
  background-color: transparent;
}

.listCls .x-inner{
  padding: 0em!important;
}

.userExpenseItem{
  color: #13172C;
  font-family: 'Humanist 521';
  font-size: 1em;
  background-image: -webkit-gradient( 
    linear,
    left bottom,
    left top,
    color-stop(0, #F7F7F7),
    color-stop(0.1, #EDEDED),
    color-stop(1, #F7F7F7) );
}

.userExpenseItem .x-list-item-label{
  border-top: 1px solid white;
  border-bottom: 1px solid #DEDEDE;
}

.userExpenseList .x-list-disclosure{
  background: url("../images/arrow.png") center center no-repeat!important;
  -webkit-mask: 0 !important;
  margin-right:4px;
  width: 0.8em!important;
  height: 0.8em!important;
  background-size:100% 100%!important ;
  bottom: 0.9em;

}

//Styling for Dashboard Buttons

.toolbarButton{
  //webkit-border-radius: 0.2em!important;
  border-radius: 0.2em!important;
  box-shadow: inset 1px 1px 20px 10px rgba(0, 0, 0, 0.5);
  //background-color: 2F4768!important;
  //background-image: none !important;
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(10,81,153,0.65) 100%)!important; 
  color:#fff;
  z-index: 100!important;
  padding:5%;
  margin:5%;
}

.toolbarButton .x-button-icon{
  width: 4em!important;
  height: 4em!important;
}

.calendarButton .x-button-icon{
  width: 5em!important;
  height: 6em!important;
}
.calendarCls{
background-image: url("../images/calendar2.png");
background-size: 100% 100%;
}

.graphCls{
background-image: url("../images/graph.png");
background-size: 100%;
}

.logoutCls{
background-image: url("../images/exit.png");
background-size: 96%;
}

.reportCls{
background-image: url("../images/report.png");
background-size: 100%;
}

.settingsCls{
background-image: url("../images/settings.png");
background-size: 100% 100%;
}

.aboutusCls{
background-image: url("../images/money.png");
background-size: 100% 100%;
}


//Styling for toolbar buttons

.addButton .x-button-icon.addIconCls.x-icon-mask{
background: url('../images/document_add_small.png')no-repeat!important;
background-size: 100%;
background-color: transparent!important;
background-image: none;
}