 
/*    Styling applied to Login page.*/


/*.loginview .expenfieldcls .x-form-fieldset-inner{
  background:rgba(247, 242, 242, 0.51);
}*/
/* FOnt Styling for fieldset header*/
/*
Styling for list
*/

@font-face {
  font-family: 'Lucida Handwriting';
  src: url('../fonts/LHANDW.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GOTHIC';
  src: url('../fonts/GOTHIC.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Humanist 521';
  src: url('../fonts/hum521n.ttf');
  font-weight: normal;
  font-style: normal;
}

.x-title .x-innerhtml{
  font-family: 'Humanist 521';
  font-size: 0.9em!important;
}

.formPanelCls .x-field{
    border-bottom: 1px solid lightgray
}
