$base-color:#000;
$base-gradient:'glossy';
$active-color:#329BFC;
//$active-color:#3AC1F8;
@import 'sencha-touch/default/all';
$toolbar-base-color:#000;
$list-bg-color:transparentize(#fff,0.9);
$list-color:#eee;
// Your custom code goes here..
//@include sencha-button-ui('login2', #1957AD, 'glossy');

@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
//@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
//@include sencha-carousel;
@include sencha-form;
//@include sencha-msgbox;

// Your custom code goes here..
@include sencha-loading-spinner; 


/*
    Login screen Styling
*/

.loginview{
  background-color:#222930;
  background-size:100% 100%;
}

// Css to make card bacground 
.x-layout-card-item {
background:#000;
}

html,body{
    background-color:#000;
    background-image: url("../images/logo.png") center center no-repeat;
}

.graphPanelCls{
    color:#fff;
    font-size:0.8em;
    padding:1em;
    .x-legend-item {
            color: #fff;
        }
}

//Styling for form
.formPanelStyle{
  background-color:#000;
  background-size: 100% 100%;
}

.x-docking-vertical{
    background-color:#000;
}
//Styling for List
.listCls .x-body{
  background-color:#000;
  background-size: 100% 100%;
}

.listCls .x-scroll-container {
  background-color: transparent;
}


//Styling for Dashboard Buttons
// Styling for dashboard
.dashboardPanelCls{
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.15, rgb(189,189,189)),
	color-stop(0.49, rgb(230,223,230)),
	color-stop(0.85, rgb(189,189,189))
);
}

// Fix for picker
.x-docking-vertical{
    background-color:transparent;
}

// Fix for floating panel and select field
.x-panel.x-floating>.x-panel-inner, 
.x-panel.x-floating .x-scroll-view,
 .x-panel.x-floating .x-body,
 .x-msgbox.x-floating>.x-panel-inner,
 .x-msgbox.x-floating .x-scroll-view,
 .x-msgbox.x-floating .x-body,
 .x-form.x-floating>.x-panel-inner,
 .x-form.x-floating .x-scroll-view,
 .x-form.x-floating .x-body{
    background-color:#000;
}

// Calendar related css


// Calendar background
.touch-calendar-view table {
  width: 100%;
  border-collapse: separate;
  table-layout: fixed;
  font-size: 20px;
  color: #7D94C2;
  background-size:100% 100%;
  background-color:#000;
}
// Current date
.touch-calendar-view td.today {
  color: #FFFFFF;
  text-shadow: #333 1px 1px 2px;
  -webkit-box-shadow: inset 0px 0px 8px #000;
  border: 1px solid black;
  background-color: #329BFC;
}
// Selected date
.touch-calendar-view td.selected {
  color: #FFFFFF;
  text-shadow: #333 1px 1px 0px;
  border: 1px solid black;
  background: #1980e5;
  background-color: #4699eb;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7dc0fd), color-stop(50%, #4ba7fc), color-stop(51%, #329bfc), color-stop(100%, #198ffc))
}